/* Base CSS start */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:hover { text-decoration: none }
/* Base CSS end */


.video-play-btn {
    display: table;
    background-size: 108%;
    background-position: center;
    height: 450px;
    display: table;
    width: 100%;
    color: #fff;
}

.video-overlay {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 50px;
    position: relative;
    z-index: 1;
    transform: scale(.7);
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.video-overlay:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #163265;
    content: "";
    z-index: -1;
    opacity: .7;
}

.video-play-btn:hover {
    color: #fff;
}

.boxed-plus {
    width: 30px;
    height: 30px;
    border: 2px solid;
    line-height: 27px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.video-overlay p {
    opacity: .7;
}

.video-overlay p.video-top-desc {
    opacity: 1;
}

.video-play-btn:hover .video-overlay {
    transform: scale(1);
    visibility: visible;
    opacity: 1;
}

.section-padding {
    padding: 80px 0;
}

.video-area {
    margin-bottom: 20px;
}

.video-top-desc span {
    display: inline-block;
}

.video-top-desc span:before {
    left: 38%;
    top: 50%;
    width: 15px;
    height: 2px;
    content: "";
    background: #fff;
    position: absolute;
}

.video-top-desc span:after {
    right: 38%;
    top: 50%;
    width: 15px;
    height: 2px;
    content: "";
    background: #fff;
    position: absolute;
}

.video-top-desc {
    position: relative;
    padding: 0 20px;
    display:block
}