/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 


    
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 

.single-feature-item {
    position: relative;
}

.content {
    position: absolute;
    bottom: -20px;
    margin-left: 141px;
    margin-top: 0;
}
.big-feature-bordered-image {
    width: 90%;
}
    
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
 .big-feature-bordered-image {
	width: 90%;
	height: 300px;
}
    
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 

.big-feature-bordered-image {
	width: 90%;
}

}