/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
    color: #333;
}
body {
  color: #828282;
  font-size: 15px;
  line-height: 1.7;
}
a:hover { text-decoration: none }



section.section-padding {
  padding: 80px 0;
}
.section-title {
  margin-bottom: 60px;
}

.owl-carousel .owl-item .single-staff-item img {
  max-width: 325px;
  width: 164px;
  border-radius: 50%;
}
.staff-meta {
  font-size: 12px;
  color: #b7b7b7;
  margin-top: 20px;
}
.staff-meta h3 {
  margin: 0 0 10px;
  text-transform: uppercase;
  font-size: 20px;
}

.staff-list .owl-nav div {
    display: inline-block;
    width: 50px;
    height: 40px;
    background: #f3f3f3;
    text-align: center;
    line-height: 38px;
    font-size: 20px;
    margin-left: 10px;
    transition: .3s;
}

.staff-list .owl-nav div:hover {
    color: #fff;
    background: #14adf3;
}

.staff-list .owl-nav {
    position: absolute;
    right: 0;
    top: -60px;
}

/* main page button start */
.section-padding1 {
    margin-top: 30px;
}
.btn {
    text-transform: uppercase;
    background: #19b5fe;
    color: #fff;
    font-weight: 700;
    box-shadow: 2px 2px 1px #000;
}

.btn a {
    color: #fff;
}
/* main page button end */