/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
    color: #333;
}
body {
    color: #787978;
}
a:hover { text-decoration: none }


section.section-padding {
    padding: 80px 0;
}



.section-title {
    text-align: center;
    margin-bottom: 77px;
}

.section-title h2 span {
    color: #2fa55e;
    font-weight: 700;
}

.single-pricing-box {
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    -webkit-transition: .2s;
    transition: .2s;
}

.single-pricing-box:hover {
    border-color: #26a65b;
    box-shadow: 0 0 50px #f1f1f1;
}

.single-pricing-box h3 {
    text-transform: uppercase;
}

.pricing-icon {
    font-size: 60px;
    margin-bottom: 20px;
    -webkit-transition: .3s;
    transition: .3s;
}
.single-pricing-box:hover .pricing-icon {
    color: #26a65b;
}
.single-pricing-box:hover .pricing-icon img {
    opacity: .7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}

.pricing-icon img {
    max-width: 70px;
    -webkit-transition: .3s;
    transition: .3s;
}

.pricing-list {
    text-align: left;
    margin-bottom: 30px;
}

.pricing-list ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-left: 13px;
    line-height: 26px;
}

.pricing-list ul li:before {
    font-family: fontAwesome;
    content: "\f00c";
    color: #2fa55e;
    padding-right: 10px;
}
.pricing-list ul li.off:before {
    content: "\f00d";
    color: #f3000c;
}

.single-pricing-box .pricing-count {
    text-transform: none;
}

a.bordered-btn {
    display: inline-block;
    border: 1px solid #26a65b;
    padding: 10px 30px;
    border-radius: 50px;
    color: #333;
    -webkit-transition: .3s;
    transition: .3s;
}

a.bordered-btn:hover {
    background: #26a65b;
    color: #fff;
}

.pricing-list ul li {
    -webkit-transition: .2s;
    transition: .2s;
}

.pricing-list ul li:hover {
    padding-left: 5px;
}


/* main page button start */
.section-padding1 {
    margin-top: 30px;
}
.btn {
    text-transform: uppercase;
    background: #19b5fe;
    color: #fff;
    font-weight: 700;
    box-shadow: 1px 3px 8px #cccbcb;
}

.btn a {
    color: #fff;
}
/* main page button end */