/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:hover { text-decoration: none }


.title-bg {background-image: url(../img/14.jpg);}
.section-bg {background-image: url(../img/agsquare.png);}


.title-bg {
    padding: 100px 0;
    background-size: cover;
    background-position: center;
    border-bottom: 1px solid #ff7513;
    z-index: 2;
    position: relative;
}

.title-bg:before {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    content: "";
    opacity: .3;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    position: absolute;
    z-index: -1;
}

.title h2 {
    font-size: 40px;
    color: #efefef;
}

.serial-link {
    margin-top: 30px;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 200px;
}

.serial-link li {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 15px;
}
.serial-link li a {
    color: #333;
}
.serial-link li a:hover {
    color: #ff7513;
}

.isDisabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  text-decoration: none;
}