/* Base CSS */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
}
body {
    font-family: 'Open Sans', sans-serif;
}
a:hover { text-decoration: none }

.gradient-overlay-wrapper {background-image: url(../img/main-bg.jpg);}

.gradient-overlay-wrapper:after 
{
    background: #000ad0;
    background: -moz-linear-gradient(-45deg, #000ad0 0%, #deb3c7 100%);
    background: -webkit-linear-gradient(-45deg, #000ad0 0%,#deb3c7 100%);
    background: linear-gradient(135deg, #000ad0 0%,#deb3c7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000ad0', endColorstr='#deb3c7',GradientType=1 );
}

.gradient-overlay-wrapper {
    position: relative;
    z-index: 1;
}

.gradient-overlay-wrapper:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
    opacity: .9;
}

.logo img {
    max-width: 165px;
    max-height: 100px;
    display: block;
    padding: 17px 0;
}

.main-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
}

.main-menu li {
    display: inline-block;
}

.main-menu li a {
    color: #fff;
    padding: 22px;
    opacity: .6;
    display: block;
    font-size: 16px;
}

.main-menu li:hover a {
    opacity: 1;
}

.header-area {
    position: relative;
    z-index: 1;
    padding: 20px 0;
}

.header-area:after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    content: "";
    background: #fff;
    opacity: .1;
}

.mobile-screen {
    position: absolute;
    right: 0;
    bottom: 0;
}

.hero-text {
    max-width: 500px;
    color: #fff;
    font-size: 17px;
    padding: 120px 0;
}

.hero-text h1 {
    font-size: 45px;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 35px;
}

.hero-text p {
    opacity: .6;
}

.hero-buttons {
    margin-top: 50px;
}

.hero-buttons .bordered-btn {
    border: 1px solid #fff;
}

.underline-btn {
    text-decoration: underline;
}

.hero-buttons a {
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 13px 35px;
    border-radius: 50px;
    display: inline-block;
}